
.checkclass .form-check-input{
cursor: pointer;
}

.checkclass{
    
    border: 1px solid black;

    justify-content: center;
    align-items: center;
   
}
.checkclass input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    background-color: #d5d5d5;
    border-radius: 5px;
}
.checkclass input[type="checkbox"]:after{
    color:white; 
}
.checkclass input[type="checkbox"]:hover{

    background-color: #a5a5a5;
}
.checkclass input[type="checkbox"]:checked{
    background-color: #5bcd3e;
}
/*
.checkclass input[type="checkbox"]:checked::after{
    
}