          
          @media screen and (min-width:425px) {
            #congru{margin:0px; padding: 0px; width: 100%;}

         }
         * {
             font-family: Roboto;
          }

          #tcon1 {
             background-color: white;
             border-radius: 10px;
             border: 1px solid skyblue;
          }

          #con2 {
             background-color: white;
             margin: 0px 0px 20px 10px;
             border-radius: 10px;
             border: 1px solid skyblue;
          }

          #congru {
             
             border: 1px solid whitesmoke;
             margin: 10px 0px 0px 200px;
             color: greenyellow;
             border-radius: 5px;}
           

          #ple {
             background-color: beige;
             border: 1px solid white;
             margin: 10px 0px 10px 10px;
             color: red;
             border-radius: 5px;
             padding: 5px 0px 0px 200px;
          }

          #bord {
             background-color: white;
             border: 1px solid whitesmoke;
             margin: 0px 200px 0px 300px;
             color: red;
             border-radius: 5px;
             padding: 5px 0px 0px 45px;
          }
          #cong{
           border: 2px solid gray;
          }

          /*top right bottom left*/